:root {
    --color-tsubaki: #bc002e;
    --color-tcyan: #00b4b2;
    --color-tblue: #003255;
}

/* TSUBAKI */

.text-tsubaki {
    color: var(--color-tsubaki);
}
a.text-dark:hover {
    color: var(--color-tsubaki) !important;
}
a.text-secondary:hover {
    color: var(--color-tsubaki) !important;
}


.bg-tsubaki {
    background-color: var(--color-tsubaki) !important;
}
.bg-tsubaki-outline {
    border-style: solid !important;
    border-width: 0.05rem !important;
    border-radius: var(--bs-border-radius) !important;
    border-color: var(--color-tsubaki) !important;
    color: var(--color-tsubaki) !important;
}

.btn-tsubaki {
    background-color: var(--color-tsubaki) !important;
    color: white;
}
.btn-tsubaki:hover {
    transition: none;
    background-color: black !important;
    color: white;
}
.btn-tsubaki:active {
    transition: none;
    background-color: var(--bs-gray) !important;
    color: white !important;
}

.btn-tsubaki-outline {
    border-style: solid !important;
    border-width: 0.05rem !important;
    border-radius: var(--bs-border-radius) !important;
    border-color: var(--color-tsubaki) !important;
    color: var(--color-tsubaki);
}
.btn-tsubaki-outline:hover {
    transition: none;
    border: none;
    background-color: var(--color-tsubaki) !important;
    color: white;
}
.btn-tsubaki-outline:active {
    transition: none;
    color: black;
}

/* T-CYAN */
.text-tcyan {
    color: var(--color-tcyan) !important;
}
.bg-tcyan {
    background-color: var(--color-tcyan) !important;
}
.btn-tcyan {
    background-color: var(--color-tcyan) !important;
    color: white;
}

/* T-BLUE */
.text-tblue {
    color: var(--color-tblue) !important;
}
.bg-tblue {
    background-color: var(--color-tblue) !important;
}
.btn-tblue {
    background-color: var(--color-tblue) !important;
    color: white;
}

/* DARK */

.btn-dark:hover {
    background-color: #bc002e;
    color: white;
    border-color: #bc002e;
    transition: none;
}