.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.noto-sans-tc {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.massive-title {
    line-height: 0.95em;
    font-size: calc(100vw / 10);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sub-massive-title {
    font-size: 9em;;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description {
    br {
        display: block;
        margin: 0.375rem 0rem;
    }
}